{% extends 'home/home.layout.html.twig' %}

{% block content %}
    <div class="row text-center mt-5">
        <h1>SWAPI Starships</h1>
    </div>
    <div class="row text-center">
        {% if starships is empty %}
            <h1>Something went wrong. Try again later.</h1>
        {% else %}
            <table class="table table-striped table-responsive mt-5 table-dark">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Model</th>
                    <th scope="col">Starship Class</th>
                    <th scope="col">Consumables</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Crew</th>
                    <th scope="col">Passengers</th>
                    <th scope="col">Hyperdrive Rating</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for starship in starships %}
                    <tr>
                        <td> {{ starship.name }} </td>
                        <td> {{ starship.model }}</td>
                        <td> {{ starship.starshipClass }}</td>
                        <td> {{ starship.consumables }}</td>
                        <td> {{ starship.costInCredits }}</td>
                        <td> {{ starship.crew }}</td>
                        <td> {{ starship.passengers }}</td>
                        <td> {{ starship.hyperdriveRating }}</td>
                        <td>
                            <form action="/save" method="GET">
                                <input type="hidden" id="name" name="name" value="{{ starship.name }}" />
                                <input type="hidden" id="model" name="model" value="{{ starship.model }}" />
                                <input type="hidden" id="starshipClass" name="starshipClass" value="{{ starship.starshipClass }}" />
                                <input type="hidden" id="consumables" name="consumables" value="{{ starship.consumables }}" />
                                <input type="hidden" id="costInCredits" name="costInCredits" value="{{ starship.costInCredits }}" />
                                <input type="hidden" id="crew" name="crew" value="{{ starship.crew }}" />
                                <input type="hidden" id="passengers" name="passengers" value="{{ starship.passengers }}" />
                                <input type="hidden" id="hyperdriveRating" name="hyperdriveRating" value="{{ starship.hyperdriveRating }}" />
                                <input type="hidden" id="hyperdriveRating" name="hyperdriveRating" value="{{ starship.hyperdriveRating }}" />
                                <button type="submit" class="btn btn-secondary">Save</button>
                            </form>
                        </td>
                    <tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}